[Desktop Entry]
Name=Seq42
GenericName= Seq42
Comment=MIDI Sequencer
Icon=seq42_48
Type=Application
Categories=AudioVideo;Audio;X-Jack;Midi;X-MIDI;
Exec=seq42
Terminal=false
X-NSM-capable=true
